---
import Layout from '../../layouts/Layout.astro';

// Movimento Irun index page
const edicoes = [
  {
    num: 1,
    data: "13 de Julho de 2025",
    artista: "Irma Ferreira",
    show: "Cantos de Òrìṣà",
    desc: "Lançamento oficial com ritual Bantu Indígena Caxuté e abertura da Exposição.",
    slug: "edicao-1",
    img: "/images/edicoes/edicao-1/header/irma-ferreira-cantos-de-orisa-movimento-irun-edicao-1-header.jpg"
  },
  {
    num: 2,
    data: "17 de Agosto de 2025",
    artista: "Ayrá Soares & Ângelo Canja",
    show: "EletroSamba",
    desc: "Parceria com o coletivo feminista Tamo Juntas e diálogo sobre resistência cotidiana.",
    slug: "edicao-2",
    img: "/images/edicoes/edicao-2/header/ayra-soares-angelo-canja-eletrosamba-movimento-irun-edicao-2-header.jpg"
  },
  {
    num: 3,
    data: "28 de Setembro de 2025",
    artista: "Enio & Vírus",
    show: "Encontros Híbridos",
    desc: "Edição voltada ao tema 'Viva os Santos Meninos', resgatando a potência da infância.",
    slug: "edicao-3",
    img: "/images/edicoes/edicao-3/header/enio-virus-encontros-hibridos-movimento-irun-edicao-3-header.jpg"
  },
  {
    num: 4,
    data: "26 de Outubro de 2025",
    artista: "Tito Bahiense",
    show: "Ijexá",
    desc: "Imersão na clave e na espiritualidade do ritmo Ijexá, com atabaques e Roda de Conversa.",
    slug: "edicao-4",
    img: "/images/edicoes/edicao-4/header/tito-bahiense-tiago-nunes-ijexa-movimento-irun-edicao-4-header.jpg"
  },
  {
    num: 5,
    data: "16 de Novembro de 2025",
    artista: "Dão Black",
    show: "Sambadelic",
    desc: "Discotecagem de André Oliveira e o show Sambadelic resgatando as matrizes do samba.",
    slug: "edicao-5",
    img: "/images/edicoes/edicao-5/header/dao-black-sambadelic-movimento-irun-edicao-5-header.jpg"
  },
  {
    num: 6,
    data: "21 de Dezembro de 2025",
    artista: "Cabuloso Trio",
    show: "Ocupação Manifesto",
    desc: "Toré dos Tupinambás, Feira de Saberes e Sabores e a Universidade dos Povos.",
    slug: "edicao-6",
    img: "/images/edicoes/edicao-6/header/cabuloso-trio-ocupacao-manifesto-movimento-irun-edicao-6-header.jpg"
  },
  {
    num: 7,
    data: "25 de Janeiro de 2026",
    artista: "Ícaro Santiago & Eric Mazzone",
    show: "Jangada",
    desc: "Ocupação Manifesto Teia dos Povos com Mestre Joelson Ferreira e concerto experimental.",
    slug: "edicao-7",
    img: "/images/edicoes/edicao-7/header/icaro-santiago-eric-mazzone-jangada-movimento-irun-edicao-7-header.jpg"
  },
  {
    num: 8,
    data: "15 de Março de 2026",
    artista: "Yayá Muxima & Banda",
    show: "Tambor de Mulher",
    desc: "Comemoração dos 179 anos de nascimento de Castro Alves com banda de mulheres negras.",
    slug: "edicao-8",
    img: "/images/edicoes/edicao-8/header/yaya-muxima-tambor-de-mulher-movimento-irun-edicao-8-header.jpg"
  },
  {
    num: 9,
    data: "26 de Abril de 2026",
    artista: "Mariella Santiago",
    show: "Aqualtunes",
    desc: "Show solo percussivo e loops dedicados aos povos originários e ao Toré da Aliança.",
    slug: "edicao-9",
    img: "/images/edicoes/edicao-9/header/mariella-santiago-aqualtunes-movimento-irun-edicao-9-header.jpg"
  },
  {
    num: 10,
    data: "17 de Maio de 2026",
    artista: "Denise Correia & Banda Naveiadanêga",
    show: "Black Tudo",
    desc: "Show “BLACK TUDO”, com Denise Correia e Banda Naveiadanêga, uma explosão de Afro Pop, samba rock e MPB.",
    slug: "edicao-10",
    img: "/images/edicoes/edicao-10/header/denise-correia-black-tudo-movimento-irun-edicao-10-header.jpg"
  },
  {
    num: 11,
    data: "07 de Junho de 2026",
    artista: "Maíra e Ícaro Santiago",
    show: "Águas Nascentes: Tempo de Recomeços",
    desc: "Reflexão sobre as águas, territórios e saberes tradicionais, com exposição, oficinas, gira de saberes e show de Maíra e Ícaro Santiago.",
    slug: "edicao-11",
    img: "/images/edicoes/edicao-11/header/duo-ire-ire-sente-o-tempo-passar-movimento-irun-edicao-11-header.jpg"
  }
];

const designers = [
  {
    id: "artes-daura",
    nome: "Artes D'Aura",
    artista: "Kelly Santos Marques",
    projeto: "Artes D'Aura",
    instagram: "@artesd.aura",
    especialidade: "Acessórios de Identidade",
    citacao: "Aura é mais que uma marca de acessórios: é expressão de ancestralidade, beleza e encanto. Cada peça carrega significado, magia e exclusividade, sempre no inconfundível Padrão Aura.",
    thumb: "/images/design_caboclo/aura-logo.jpg",
    obras: [
      {
        src: "/images/design_caboclo/artes-daura-1.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/artes-daura-2.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/artes-daura-4.webp",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/artes-daura-5.svg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "itu-croma",
    nome: "CROMA",
    artista: "Itú",
    projeto: "CROMA",
    instagram: "@so.itu",
    especialidade: "Crochê e Moda Sustentável",
    citacao: "CROMA é uma marca artesanal de crochê voltada para moda e sustentabilidade, com foco em bolsas, bucket hats e acessórios. Inspira-se em cores, formas e padrões da natureza e da cultura soteropolitana.",
    thumb: "/images/design_caboclo/croma-logo.png",
    obras: [
      {
        src: "/images/design_caboclo/itu-croma-1.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/itu-croma-2.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/itu-croma-3.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/itu-croma-4.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "djanira-breu",
    nome: "Djanira Breu",
    artista: "Djanira Breu",
    projeto: null,
    instagram: "@djanira_arte",
    especialidade: "Arte Têxtil e Bordado",
    citacao: "Mapas de meu Múndi é a cartografia bordada da trajetória de meu corpo-espaço no espaço-mundo. É o corpo individual que se constrói e se recria dinamicamente com os espaços geográficos, afectivos, políticos e socioculturais do mundo.",
    thumb: "/images/design_caboclo/djanira-breu-perfil.jpg",
    obras: [
      {
        src: "/images/design_caboclo/djanira-breu-1.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/djanira-breu-2.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/djanira-breu-3.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/djanira-breu-4.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/djanira-breu-5.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "joao-serafim",
    nome: "João Serafim",
    artista: "João Serafim",
    projeto: null,
    instagram: "@joaoserafimpereira",
    especialidade: "Moda Ética em Fios Naturais",
    citacao: "Ateliê sustentável com compromisso com o cliente e o meio ambiente. Peças em fios naturais como linho, algodão e cânhamo, estampas que refletem identidade e desperdício zero no corte. Retalhos são doados para artesãos locais.",
    thumb: "/images/design_caboclo/joao-serafim-perfil.jpg",
    obras: [
      {
        src: "/images/design_caboclo/joao-serafim-1.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/joao-serafim-2.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/joao-serafim-3.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/joao-serafim-4.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/joao-serafim-5.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "jurema",
    nome: "Jurema",
    artista: "Tai Oliver",
    projeto: "Jurema",
    instagram: "@jurematelie",
    especialidade: "Biojoias e Acessórios Ancestrais",
    citacao: "A Jurema é uma marca que desenvolve art joias inspiradas na estética Afrodiaspórica e Tupinambá, conectadas com elementos das religiões de matriz africana. Suas peças realçam a alma e fortalecem o Ser Feminino.",
    thumb: "/images/design_caboclo/jurema-perfil.webp",
    obras: [
      {
        src: "/images/design_caboclo/jurema-1.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/jurema-2.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/jurema-3.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/jurema-4.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/jurema-5.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "lu-moura",
    nome: "Lu Moura",
    artista: "Lu Moura",
    projeto: null,
    instagram: "@luamorimoura",
    especialidade: "Moda e Expressão Social",
    citacao: "Camisetas como espaço de expressão. Símbolos de paz, espiritualidade e música transformaram-se em mensagens sociais, políticas e culturais. Criações que dialogam com a força dos Orixás, associando nomes e cores.",
    thumb: "/images/design_caboclo/lu-moura-perfil.jpg",
    obras: [
      {
        src: "/images/design_caboclo/lu-moura-1.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/lu-moura-2.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/lu-moura-3.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/lu-moura-4.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/lu-moura-5.webp",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/lu-moura-6.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "morena-do-mar",
    nome: "Morena do Mar",
    artista: "Deborah Nunez",
    projeto: "Morena do Mar",
    instagram: "@morena.domar",
    especialidade: "Crochê Contemporâneo e Memória",
    citacao: "Morena do Mar é crochê contemporâneo inspirado em ancestralidade e andanças. Peças que traduzem memória e movimento.",
    thumb: "/images/design_caboclo/deborah-morena-do-mar-perfil.jpg",
    obras: [
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-1.jpeg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-2.jpeg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-3.jpeg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-4.jpeg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-5.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/deborah-morena-do-mar-6.png",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "quarto-amarelo",
    nome: "Quarto Amarelo",
    artista: "Tai Oliver",
    projeto: "Quarto Amarelo Ateliê",
    instagram: "@quartoamareloatelie",
    especialidade: "Design Étnico e Ancestral",
    citacao: "Design e artesanato com referências africanas e indígenas. Peças em couro, madeira e otros materiais, criadas por Tai Oliver em diálogo com a ancestralidade, inovação e identidade cultural.",
    thumb: "/images/design_caboclo/quarto-amarelo-1.webp",
    obras: [
      {
        src: "/images/design_caboclo/quarto-amarelo-1.webp",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/quarto-amarelo-2.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/quarto-amarelo-3.jpg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/quarto-amarelo-4.webp",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/quarto-amarelo-5.webp",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  },
  {
    id: "sa-criacoes",
    nome: "Sá Criações",
    artista: "Sara Alves",
    projeto: "Sá Criações",
    instagram: "@sa.criacoes",
    especialidade: "Brinquedos Afetivos em Feltro",
    citacao: "Brinquedos e livros criativos em feltro e tecido, feitos à mão. Cada peça busca estimular o desenvolvimento infantil com afeto, inclusão e imaginação. Uma infância mais humana, distante das telas e próxima do brincar.",
    thumb: "/images/design_caboclo/sara-alves-perfil.jpg",
    obras: [
      {
        src: "/images/design_caboclo/sa-criacoes-1.svg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/sa-criacoes-2.svg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      },
      {
        src: "/images/design_caboclo/sa-criacoes-3.svg",
        titulo: "",
        tecnica: "",
        detalhes: ""
      }
    ]
  }
];

const fotosGerais = Array.from({ length: 25 }, (_, i) => `/images/movimento_irun/galeria/movimento-irun-exposicao-design-caboclo-${i + 1}.jpg`);
---

<Layout title="Movimento Irun | Casa de Castro Alves" description="Saiba mais sobre o Movimento Irun. Uma aliança de design contemporâneo e saberes ancestrais indígenas e quilombolas na Casa de Castro Alves. Inscreva-se na próxima edição." ogImage="/images/movimento_irun/TAMANDUA-TUPINAMBA-FOTO-LUCIANO-PAYAYA-BX.jpg">
  <!-- Hero Section -->
  <section class="subpage-hero">
    <div class="subpage-hero-bg" style="background-image: url('/images/movimento_irun/TAMANDUA-TUPINAMBA-FOTO-LUCIANO-PAYAYA-BX.jpg');"></div>
    <div class="subpage-hero-overlay"></div>
    <div class="container subpage-hero-content">
      <h1 class="subpage-hero-title">Movimento Irun</h1>
      <p class="subpage-hero-subtitle">Aliança Ancestral</p>
      <div style="margin-top: 2rem;">
        <a 
          href="https://docs.google.com/forms/d/e/1FAIpQLSdYlaHZ_6jtI8SrXIyznc4ejZ9JRGsyC8JqBJ85dG9HoKNdhA/viewform" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="btn btn-outline-amarelo"
        >
          INSCREVA-SE
        </a>
      </div>
    </div>
    <span class="header-credit">TAMANDUA TUPINAMBA por LUCIANO PAYAYÁ</span>
  </section>

  <!-- Conceito (Editorial Block) -->
  <section class="conceito-section">
    <div class="container text-center-editorial">
      <blockquote class="editorial-quote">
        <p style="margin-bottom: 1.5rem; font-style: italic;">O Movimento Irun é uma iniciativa ética, política e cultural voltada à dignidade humana e ao Bem Viver, unindo poesia, saberes ancestrais, arte popular, música e mulheres da Teia dos Povos. O nome “Irun”, de origem tupi-guarani, significa “companheiro” ou “irmão”, simbolizando colaboração e coletividade.</p>
        <p style="font-style: italic;">Idealizado pela estilista Márcia Ganem em parceria com lideranças da Teia dos Povos, o projeto promove o encontro entre design contemporâneo e tradições de povos originários e comunidades quilombolas da Bahia. Entre suas ações estão ciclos de formação, exposições, mostras de Design Caboclo e apresentações artísticas realizadas na Casa de Castro Alves.</p>
      </blockquote>
    </div>
  </section>

  <!-- Eixos do Programa (Cursos) -->
  <section class="eixos-section" style="background-color: var(--color-creme); padding: var(--space-2xl) 0;">
    <div class="container">
      <div class="section-header text-center">
        <h2>Estrutura Curricular do Bem Viver</h2>
        <p class="section-subtitle">Conheça as três frentes teóricas e práticas que compõem o programa.</p>
      </div>

      <div class="eixos-grid">
        <!-- Eixo 1 -->
        <div class="eixo-card card">
          <span class="eixo-number">01</span>
          <div class="eixo-header">
            <h3>Espaços Comuns<br />do Bem Viver</h3>
          </div>
          <p class="eixo-instructor">Facilitadora: Aline Bento</p>
          <ul class="eixo-topics">
            <li>Mapeamento de pontos de cultura e rede territorial.</li>
            <li>Mapeamento de potenciais e recursos locais.</li>
            <li>Mapeamento de redes culturais e artísticas.</li>
            <li>Elaboração de propostas de articulação (pré-diálogo institucional).</li>
          </ul>
        </div>

        <!-- Eixo 2 -->
        <div class="eixo-card card">
          <span class="eixo-number">02</span>
          <div class="eixo-header">
            <h3>Gestão Criativa<br />de Território</h3>
          </div>
          <p class="eixo-instructor">Facilitadora: Márcia Ganem</p>
          <p class="eixo-subtitle-detail">Metodologia: Design Dialógico</p>
          <ul class="eixo-topics">
            <li>Diagnósticos aplicados de entidades culturais e coletivos.</li>
            <li>Identificação e valorização de ativos culturais locais.</li>
            <li>Sistematização de portfólios territoriais identitários.</li>
          </ul>
        </div>

        <!-- Eixo 3 -->
        <div class="eixo-card card">
          <span class="eixo-number">03</span>
          <div class="eixo-header">
            <h3>Formalização e<br />Sustentabilidade</h3>
          </div>
          <p class="eixo-instructor">Facilitadora: Lucyvanda Moura</p>
          <ul class="eixo-topics">
            <li>Estruturação jurídica e administrativa de entidades culturais.</li>
            <li>Caminhos e editais de captação de recursos.</li>
            <li>Atividades práticas e simulações de Diálogo Institucional.</li>
            <li>Giras de Saberes voltadas à sustentabilidade comunitária.</li>
          </ul>
        </div>
      </div>

      <div class="eixos-footer">
        <a 
          href="https://forms.gle/oBxBMZ4YBeDeugB57" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="btn btn-primary"
        >
          INSCREVA-SE
        </a>
      </div>
    </div>
  </section>

  <!-- Showroom Design Caboclo (Interactive Showcase) -->
  <section class="showroom-section">
    <div class="container">
      <div class="section-header text-center">
        <span class="section-badge">Showroom</span>
        <h2>Design Caboclo</h2>
        <p class="section-subtitle">Conheça os designers que unem sustentabilidade e inovação contemporânea na Bahia. Clique nas imagens para ampliar em alta definição.</p>
      </div>

      <div class="showroom-layout shadow-premium">
        <!-- Pass serialized designers array to client-side JS -->
        <div id="designers-data" data-json={JSON.stringify(designers)} style="display: none;"></div>

        <!-- Main Stage (Active Designer Display) -->
        <div class="showroom-stage cover-active" id="showroom-stage">
          <div class="stage-gallery">
            <div class="stage-image-container">
              <img 
                id="stage-img" 
                src="/images/movimento_irun/galeria/movimento-irun-exposicao-design-caboclo-17.jpg" 
                alt="Design Caboclo" 
                class="stage-main-img clickable-lightbox"
                data-index="-1"
              />
            </div>
            <!-- Sub-gallery thumbnails for the active designer (initially empty for cover) -->
            <div class="stage-thumbs" id="stage-thumbs" style="display: none;">
            </div>
          </div>

          <div class="stage-details">
            <div class="details-header">
              <span id="stage-specialty" class="designer-badge">Exposição</span>
              <h3 id="stage-name" class="designer-name">Design Caboclo</h3>
              <a 
                id="stage-instagram" 
                href=""
                target="_blank" 
                rel="noopener noreferrer" 
                class="designer-ig-link"
                style="display: none;"
              >
                <span></span>
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
              </a>
            </div>
            <div class="details-body">
              <p id="stage-quote" class="designer-quote">"Conheça os designers que unem sustentabilidade e inovação contemporânea na Bahia. Clique nas imagens para ampliar em alta definição."</p>
            </div>
          </div>
        </div>

        <!-- Designer Selector List -->
        <div class="showroom-selector">
          <div class="selector-header">
            <h4>Expositores</h4>
          </div>
          <div class="selector-list">
            {designers.map((designer) => (
              <button 
                class="selector-item"
                data-id={designer.id}
                data-name={designer.nome}
                data-specialty={designer.especialidade}
                data-instagram={designer.instagram}
                data-quote={designer.citacao}
                data-obras={JSON.stringify(designer.obras)}
              >
                <div class="selector-item-thumb">
                  <img src={designer.thumb} alt={designer.nome} />
                </div>
                <div class="selector-item-meta">
                  <span class="selector-item-name">{designer.nome}</span>
                  <span class="selector-item-tag">{designer.especialidade}</span>
                </div>
              </button>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Galeria Geral de Fotos (Registros do Showroom) -->
  <section class="general-gallery-section">
    <div class="container">
      <div class="section-header text-center">
        <span class="section-badge">Galeria de Imagens</span>
        <h2>Conheça o Espaço</h2>
        <p class="section-subtitle">Uma seleção de registros fotográficos capturando o showroom, as vestimentas, as biojoias e o clima de celebração na Casa de Castro Alves. Clique nas fotos para ver detalhes.</p>
      </div>

      <div class="carousel-container shadow-premium">
        <button class="carousel-nav prev" id="gallery-prev-btn" aria-label="Foto anterior">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
        </button>
        
        <div class="carousel-track-wrapper" id="carousel-track-wrapper">
          <div class="carousel-track" id="carousel-track">
            {fotosGerais.map((foto, idx) => (
              <div class="carousel-slide">
                <img 
                  src={foto} 
                  alt={`Registro da exposição Design Caboclo - Foto ${idx + 1}`} 
                  class="clickable-lightbox"
                  data-index={idx}
                  data-type="general"
                  loading="lazy"
                />
              </div>
            ))}
          </div>
        </div>

        <button class="carousel-nav next" id="gallery-next-btn" aria-label="Próxima foto">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </button>
      </div>
      <div class="carousel-indicators-container">
        <span class="carousel-pagination" id="carousel-pagination-text">1 / 25</span>
      </div>
    </div>
  </section>

  <!-- Client-side script for interactive Showroom, Carousel and Premium Lightbox -->
  <script>
    // Global Lightbox State
    interface LightboxItem {
      src: string;
      titulo: string;
      tecnica: string;
      detalhes: string;
      projeto?: string | null;
      artista?: string;
      instagram?: string;
    }

    // Parse designers list from the hidden data element
    const designersDataEl = document.getElementById('designers-data');
    const designersList = JSON.parse(designersDataEl ? designersDataEl.getAttribute('data-json') || '[]' : '[]');

    // Build the flat array of all showroom works for global slideshow
    const allShowroomObras: LightboxItem[] = [];
    designersList.forEach((designer: any) => {
      designer.obras.forEach((obra: any) => {
        allShowroomObras.push({
          src: obra.src,
          titulo: obra.titulo,
          tecnica: obra.tecnica,
          detalhes: obra.detalhes,
          projeto: designer.projeto,
          artista: designer.artista,
          instagram: designer.instagram
        });
      });
    });

    let activeObras: LightboxItem[] = allShowroomObras; // Default to all works flat list
    let activeIndex = 0;

    const lightbox = document.getElementById('premium-lightbox');
    const lightboxImg = document.getElementById('lightbox-img') as HTMLImageElement | null;
    const lightboxTitle = document.getElementById('lightbox-title');
    const lightboxAuthor = document.getElementById('lightbox-author');
    const lightboxInstagram = document.getElementById('lightbox-instagram') as HTMLAnchorElement | null;
    const lightboxInstagramHandle = document.getElementById('lightbox-instagram-handle');
    const lightboxDesc = document.getElementById('lightbox-desc');
    const lightboxImageContainer = document.querySelector('.lightbox-image-container');
    
    const closeBtn = document.getElementById('lightbox-close-btn');
    const prevBtnL = document.getElementById('lightbox-prev-btn');
    const nextBtnL = document.getElementById('lightbox-next-btn');

    function resetZoom() {
      if (lightboxImageContainer) {
        lightboxImageContainer.classList.remove('zoomed');
      }
      if (lightboxImg) {
        lightboxImg.style.transformOrigin = 'center center';
      }
    }

    function toggleZoom(e?: MouseEvent) {
      if (lightboxImageContainer && lightboxImg) {
        const isZoomed = lightboxImageContainer.classList.toggle('zoomed');
        if (isZoomed && e) {
          updateZoomOrigin(e);
        } else {
          lightboxImg.style.transformOrigin = 'center center';
        }
      }
    }

    function updateZoomOrigin(e: MouseEvent) {
      if (lightboxImageContainer && lightboxImg && lightboxImageContainer.classList.contains('zoomed')) {
        const rect = lightboxImageContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        const xPercent = (x / rect.width) * 100;
        const yPercent = (y / rect.height) * 100;
        lightboxImg.style.transformOrigin = `${xPercent}% ${yPercent}%`;
      }
    }

    if (lightboxImg) {
      lightboxImg.addEventListener('click', (e) => toggleZoom(e));
    }

    if (lightboxImageContainer) {
      lightboxImageContainer.addEventListener('mousemove', (e) => {
        updateZoomOrigin(e as MouseEvent);
      });
      lightboxImageContainer.addEventListener('mouseleave', resetZoom);
    }

    function openLightbox(obrasList: LightboxItem[], index: number) {
      activeObras = obrasList;
      activeIndex = index;
      if (lightbox) {
        lightbox.style.display = 'flex';
        lightbox.setAttribute('aria-hidden', 'false');
        document.body.style.overflow = 'hidden'; // Disable scroll
        updateLightboxContent();
      }
    }

    function closeLightbox() {
      if (lightbox) {
        lightbox.style.display = 'none';
        lightbox.setAttribute('aria-hidden', 'true');
        document.body.style.overflow = ''; // Restore scroll
        resetZoom();
      }
    }

    function updateLightboxContent() {
      resetZoom();
      if (activeObras.length > 0 && activeIndex >= 0 && activeIndex < activeObras.length) {
        const item = activeObras[activeIndex];
        if (lightboxImg) lightboxImg.src = item.src;
        
        // Hide title and description for showroom works
        if (lightboxTitle) lightboxTitle.style.display = 'none';
        if (lightboxDesc) lightboxDesc.style.display = 'none';
        
        // Format Designer — Marca
        if (lightboxAuthor) {
          if (item.artista && item.projeto) {
            lightboxAuthor.textContent = `${item.artista} — ${item.projeto}`;
          } else {
            lightboxAuthor.textContent = item.artista || item.projeto || '';
          }
        }

        // Instagram Link
        if (lightboxInstagram && item.instagram) {
          lightboxInstagram.style.display = 'inline-flex';
          lightboxInstagram.href = `https://instagram.com/${item.instagram.substring(1)}`;
          if (lightboxInstagramHandle) lightboxInstagramHandle.textContent = item.instagram;
        } else if (lightboxInstagram) {
          lightboxInstagram.style.display = 'none';
        }
      }
    }

    function nextImage() {
      if (activeObras.length > 0) {
        activeIndex = (activeIndex + 1) % activeObras.length;
        updateLightboxContent();
      }
    }

    function prevImage() {
      if (activeObras.length > 0) {
        activeIndex = (activeIndex - 1 + activeObras.length) % activeObras.length;
        updateLightboxContent();
      }
    }

    // Bind Lightbox Event Listeners
    if (closeBtn) closeBtn.addEventListener('click', closeLightbox);
    if (nextBtnL) nextBtnL.addEventListener('click', nextImage);
    if (prevBtnL) prevBtnL.addEventListener('click', prevImage);

    // Close Lightbox when clicking outside the frame (on large screens only)
    if (lightbox) {
      lightbox.addEventListener('click', (e) => {
        if (window.innerWidth > 768) {
          const target = e.target as HTMLElement;
          if (target === lightbox || target.classList.contains('lightbox-content-wrapper')) {
            closeLightbox();
          }
        }
      });
    }

    // Keyboard navigation
    window.addEventListener('keydown', (e) => {
      if (lightbox && lightbox.style.display === 'flex') {
        if (e.key === 'ArrowRight') nextImage();
        else if (e.key === 'ArrowLeft') prevImage();
        else if (e.key === 'Escape') closeLightbox();
      }
    });

    // Touch Swipe gestures for Lightbox
    let touchStartX = 0;
    let touchStartY = 0;

    if (lightbox) {
      lightbox.addEventListener('touchstart', (e) => {
        touchStartX = e.touches[0].clientX;
        touchStartY = e.touches[0].clientY;
      }, { passive: true });

      lightbox.addEventListener('touchend', (e) => {
        const touchEndX = e.changedTouches[0].clientX;
        const touchEndY = e.changedTouches[0].clientY;
        const diffX = touchEndX - touchStartX;
        const diffY = touchEndY - touchStartY;

        // Threshold of 50px for horizontal swipe
        if (Math.abs(diffX) > Math.abs(diffY) && Math.abs(diffX) > 50) {
          if (diffX > 0) {
            prevImage(); // Swipe right -> previous
          } else {
            nextImage(); // Swipe left -> next
          }
        }
      }, { passive: true });
    }

    // 1. Showroom Controller
    const selectorItems = document.querySelectorAll('.selector-item');
    const stageImg = document.getElementById('stage-img') as HTMLImageElement | null;
    const stageThumbs = document.getElementById('stage-thumbs');
    const stageSpecialty = document.getElementById('stage-specialty');
    const stageName = document.getElementById('stage-name');
    const stageInstagram = document.getElementById('stage-instagram') as HTMLAnchorElement | null;
    const stageQuote = document.getElementById('stage-quote');
    const showroomStage = document.getElementById('showroom-stage');

    // Function to bind click event to stage thumbnails
    function bindStageThumbEvents() {
      const thumbBtns = document.querySelectorAll('.stage-thumb-btn');
      thumbBtns.forEach(btn => {
        btn.addEventListener('click', () => {
          thumbBtns.forEach(b => b.classList.remove('active'));
          btn.classList.add('active');
          const newImgUrl = btn.getAttribute('data-img');
          const srcAttr = btn.getAttribute('data-img') || '';
          
          if (stageImg && newImgUrl) {
            stageImg.src = newImgUrl;
            // Set index of the active image to its global index
            const globalIdx = allShowroomObras.findIndex(o => o.src === srcAttr);
            stageImg.setAttribute('data-index', globalIdx.toString());
          }
        });
      });
    }

    // Click on Main Stage Image opens Lightbox
    if (stageImg) {
      stageImg.addEventListener('click', () => {
        const srcAttr = stageImg.src ? new URL(stageImg.src, window.location.href).pathname : '';
        // Find in allShowroomObras
        let globalIdx = allShowroomObras.findIndex(o => o.src === srcAttr || srcAttr.endsWith(o.src));
        if (globalIdx === -1) {
          // It's the cover photo. Let's create a temporary LightboxItem for it
          const coverItem: LightboxItem = {
            src: srcAttr,
            titulo: "Design Caboclo",
            tecnica: "Exposição",
            detalhes: "Mostra de design contemporâneo e tradições ancestrais da Bahia na Casa de Castro Alves.",
            artista: "Design Caboclo",
            projeto: null,
            instagram: "@casadecastroalves"
          };
          // Prepend to allShowroomObras for the slideshow
          openLightbox([coverItem, ...allShowroomObras], 0);
        } else {
          openLightbox(allShowroomObras, globalIdx);
        }
      });
    }

    function selectDesigner(item: Element) {
      selectorItems.forEach(el => el.classList.remove('active'));
      item.classList.add('active');

      // De-activate cover state
      if (showroomStage) {
        showroomStage.classList.remove('cover-active');
      }

      // Extract attributes
      const name = item.getAttribute('data-name') || '';
      const specialty = item.getAttribute('data-specialty') || '';
      const instagram = item.getAttribute('data-instagram') || '';
      const quote = item.getAttribute('data-quote') || '';
      const obrasRaw = item.getAttribute('data-obras') || '[]';
      const obras = JSON.parse(obrasRaw);

      // Update Text Info
      if (stageName) stageName.textContent = name;
      if (stageSpecialty) stageSpecialty.textContent = specialty;
      if (stageQuote) stageQuote.textContent = `"${quote}"`;
      
      if (stageInstagram) {
        if (instagram) {
          stageInstagram.style.display = 'inline-flex';
          stageInstagram.href = `https://instagram.com/${instagram.substring(1)}`;
          const span = stageInstagram.querySelector('span');
          if (span) span.textContent = instagram;
        } else {
          stageInstagram.style.display = 'none';
        }
      }

      // Update Stage Main Image
      if (stageImg && obras.length > 0) {
        stageImg.src = obras[0].src;
        stageImg.alt = obras[0].titulo;
        const globalIdx = allShowroomObras.findIndex(o => o.src === obras[0].src);
        stageImg.setAttribute('data-index', globalIdx.toString());
      }

      // Rebuild Stage Thumbnails
      if (stageThumbs) {
        if (obras.length > 0) {
          stageThumbs.style.display = 'flex';
          stageThumbs.innerHTML = obras.map((obra: any, idx: number) => `
            <button 
              class="stage-thumb-btn ${idx === 0 ? 'active' : ''}"
              data-img="${obra.src}"
              data-index="${idx}"
            >
              <img src="${obra.src}" alt="${obra.titulo}" />
            </button>
          `).join('');
          
          bindStageThumbEvents();
        } else {
          stageThumbs.style.display = 'none';
          stageThumbs.innerHTML = '';
        }
      }
    }

    selectorItems.forEach(item => {
      item.addEventListener('click', () => {
        selectDesigner(item);
      });
    });

    // Showroom Autoplay for Exhibitor Circles (especially on Mobile)
    let showroomAutoplayTimer: any = null;
    let userInteractedWithShowroom = false;

    function startShowroomAutoplay() {
      // Autoplay interval of 6 seconds
      showroomAutoplayTimer = setInterval(() => {
        if (userInteractedWithShowroom) return;
        
        const items = document.querySelectorAll('.selector-item');
        if (!items.length) return;
        
        const activeItem = document.querySelector('.selector-item.active');
        let nextIndex = 0;
        
        if (activeItem) {
          const currentIndex = Array.from(items).indexOf(activeItem);
          nextIndex = (currentIndex + 1) % items.length;
        }
        
        const nextItem = items[nextIndex] as HTMLButtonElement;
        if (nextItem) {
          selectDesigner(nextItem);
          // Scroll only the list container horizontally to center the circle, preventing page jumps
          const selectorList = document.querySelector('.selector-list');
          if (selectorList) {
            const listWidth = selectorList.clientWidth;
            const itemOffset = nextItem.getBoundingClientRect().left - selectorList.getBoundingClientRect().left + selectorList.scrollLeft;
            const itemWidth = nextItem.clientWidth;
            const scrollTarget = itemOffset - (listWidth / 2) + (itemWidth / 2);
            selectorList.scrollTo({
              left: scrollTarget,
              behavior: 'smooth'
            });
          }
        }
      }, 6000);
    }

    function stopShowroomAutoplay() {
      userInteractedWithShowroom = true;
      if (showroomAutoplayTimer) {
        clearInterval(showroomAutoplayTimer);
        showroomAutoplayTimer = null;
      }
    }

    // Start on load
    startShowroomAutoplay();

    // Listen for manual interactions to stop autoplay and let the user browse at their own pace
    const selectorListContainer = document.querySelector('.selector-list');
    if (selectorListContainer) {
      selectorListContainer.addEventListener('touchstart', stopShowroomAutoplay, { passive: true });
      selectorListContainer.addEventListener('mousedown', stopShowroomAutoplay, { passive: true });
    }

    // 2. Carousel Controller & Lightbox Binding for General Photos
    const track = document.getElementById('carousel-track');
    const trackWrapper = document.getElementById('carousel-track-wrapper');
    const prevBtn = document.getElementById('gallery-prev-btn');
    const nextBtn = document.getElementById('gallery-next-btn');
    const paginationText = document.getElementById('carousel-pagination-text');
    const slides = document.querySelectorAll('.carousel-slide');
    const totalSlides = slides.length;
    let currentIndex = 0;

    // Define the list of general photos as LightboxItem objects for the general gallery lightbox
    const generalObrasList: LightboxItem[] = Array.from(slides).map((slide, idx) => {
      const img = slide.querySelector('img');
      const srcVal = img ? img.getAttribute('src') || '' : '';
      return {
        src: srcVal,
        titulo: `Registros de Exposição — Showroom Design Caboclo`,
        tecnica: "Fotografia e Registro Social",
        detalhes: `Registro número ${idx + 1} capturando o showroom de moda sustentável, biojoias, ateliês e a vivência coletiva do Movimento Irun na Casa de Castro Alves.`,
        projeto: null,
        artista: "Movimento Irun",
        instagram: "@casadecastroalves"
      };
    });

    // Bind click to open general gallery image in Lightbox
    const generalImages = document.querySelectorAll('.carousel-slide img.clickable-lightbox');
    generalImages.forEach(img => {
      img.addEventListener('click', () => {
        const idxRaw = img.getAttribute('data-index') || '0';
        const index = parseInt(idxRaw);
        openLightbox(generalObrasList, index);
      });
    });

    function getSlideWidth() {
      if (slides.length > 0) {
        return slides[0].getBoundingClientRect().width + 24; // Width + gap
      }
      return 0;
    }

    function updateCarousel() {
      if (track) {
        const slideWidth = getSlideWidth();
        const offset = currentIndex * slideWidth;
        track.style.transform = `translate3d(-${offset}px, 0, 0)`;
      }
      if (paginationText) {
        paginationText.textContent = `${currentIndex + 1} / ${totalSlides}`;
      }
    }

    if (prevBtn && nextBtn && track && trackWrapper) {
      nextBtn.addEventListener('click', () => {
        if (currentIndex < totalSlides - 1) {
          currentIndex++;
        } else {
          currentIndex = 0; // Loop back
        }
        updateCarousel();
      });

      prevBtn.addEventListener('click', () => {
        if (currentIndex > 0) {
          currentIndex--;
        } else {
          currentIndex = totalSlides - 1; // Loop end
        }
        updateCarousel();
      });

      // Swipe support for homepage carousel
      let carouselStartX = 0;
      let carouselIsDragging = false;

      trackWrapper.addEventListener('touchstart', (e) => {
        carouselStartX = e.touches[0].clientX;
        carouselIsDragging = true;
      }, { passive: true });

      trackWrapper.addEventListener('touchend', (e) => {
        if (!carouselIsDragging) return;
        const endX = e.changedTouches[0].clientX;
        const diffX = endX - carouselStartX;
        if (Math.abs(diffX) > 50) {
          if (diffX > 0) {
            // Swipe right -> previous
            if (currentIndex > 0) {
              currentIndex--;
            } else {
              currentIndex = totalSlides - 1;
            }
          } else {
            // Swipe left -> next
            if (currentIndex < totalSlides - 1) {
              currentIndex++;
            } else {
              currentIndex = 0;
            }
          }
          updateCarousel();
        }
        carouselIsDragging = false;
      }, { passive: true });

      // Keyboard navigation for general gallery carousel when in view
      document.addEventListener('keydown', (e) => {
        // Ignore if lightbox is open
        if (lightbox && lightbox.style.display === 'flex') return;
        
        const rect = trackWrapper.getBoundingClientRect();
        const inView = (rect.top < window.innerHeight && rect.bottom > 0);
        if (inView) {
          if (e.key === 'ArrowRight') {
            e.preventDefault();
            if (currentIndex < totalSlides - 1) {
              currentIndex++;
            } else {
              currentIndex = 0;
            }
            updateCarousel();
          } else if (e.key === 'ArrowLeft') {
            e.preventDefault();
            if (currentIndex > 0) {
              currentIndex--;
            } else {
              currentIndex = totalSlides - 1;
            }
            updateCarousel();
          }
        }
      });

      window.addEventListener('resize', updateCarousel);
    }
  </script>




  <!-- Galeria de Vídeos Históricos -->
  <section class="videos-gallery-section">
    <div class="container">
      <div class="section-header text-center">
        <span class="section-badge">Memória e Registro</span>
        <h2>Maratone a Playlist do Movimento Irun</h2>
        <p class="section-subtitle">Assista aos registros especiais, shows e vivências das edições passadas do Movimento Irun.</p>
      </div>

      <div class="gallery-layout shadow-premium">
        <!-- Main Player (Left/Top) -->
        <div class="main-player-container">
          <div class="video-ratio-wrapper">
            <iframe 
              id="main-gallery-player"
              src="https://www.youtube.com/embed/GcVCVR7_7A4?enablejsapi=1&rel=0" 
              title="MOVIMENTO IRUN 8ª EDIÇÃO 15 DE MARÇO - SHOW YAYA MUXIMA" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen
            ></iframe>
          </div>
          <div class="player-info">
            <span id="player-video-badge" class="player-badge">8ª Edição</span>
            <h3 id="player-video-title">MOVIMENTO IRUN 8ª EDIÇÃO 15 DE MARÇO - SHOW YAYA MUXIMA</h3>
            <p id="player-video-desc">Registro especial do show da Banda Yayá Muxima na VIII Edição do Movimento Irun.</p>
          </div>
        </div>

        <!-- Video List (Right/Bottom) -->
        <div class="playlist-sidebar">
          <div class="sidebar-header">
            <h4>Playlist Oficial</h4>
            <a 
              href="https://www.youtube.com/playlist?list=PLv2CE9dnlnnAHAA-HDX98LS_UFKG-yTQM" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="playlist-link-external"
            >
              Ver no YouTube <svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"/></svg>
            </a>
          </div>
          <div class="video-items-list">
            <!-- Video 1 (Novo) -->
            <button 
              class="video-item active" 
              data-id="GcVCVR7_7A4" 
              data-badge="8ª Edição"
              data-title="MOVIMENTO IRUN 8ª EDIÇÃO 15 DE MARÇO - SHOW YAYA MUXIMA"
              data-desc="Registro especial do show da Banda Yayá Muxima na VIII Edição do Movimento Irun."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/GcVCVR7_7A4/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">8ª Edição</span>
                <span class="item-title">Show Yayá Muxima (VIII Edição)</span>
              </div>
            </button>
            
            <!-- Video 2 -->
            <button 
              class="video-item" 
              data-id="z2eHDjU_oUw" 
              data-badge="7ª Edição"
              data-title="MOVIMENTO IRUN 7ª EDIÇÃO 25 DE JANEIRO"
              data-desc="Registro especial da exposição de Design Caboclo e Ocupação Teia dos Povos na VII Edição do Movimento Irun."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/z2eHDjU_oUw/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">7ª Edição</span>
                <span class="item-title">Exposição Irun (VII Edição)</span>
              </div>
            </button>
            
            <!-- Video 2 -->
            <button 
              class="video-item" 
              data-id="kaOWHMxagz0" 
              data-badge="7ª Edição"
              data-title="JANGADA E CONVIDADOS MOVIMENTO IRUN 2025"
              data-desc="Travessia musical com Ícaro Santiago e Éric Mazzone encerrando a VII Edição."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/kaOWHMxagz0/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">7ª Edição</span>
                <span class="item-title">Show Jangada (VII Edição)</span>
              </div>
            </button>

            <!-- Video 3 -->
            <button 
              class="video-item" 
              data-id="RNx5kS9YRwA" 
              data-badge="6ª Edição"
              data-title="MOVIMENTO IRUN 6ª EDIÇÃO 21 DE DEZEMBRO"
              data-desc="Imersão e vivências do Toré e Gira de Saberes com lideranças tradicionais na VI Edição."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/RNx5kS9YRwA/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">6ª Edição</span>
                <span class="item-title">Registro Especial (VI Edição)</span>
              </div>
            </button>

            <!-- Video 4 -->
            <button 
              class="video-item" 
              data-id="vKX18JHBm4E" 
              data-badge="6ª Edição"
              data-title="CABULOSO TRIO - MOVIMENTO IRUN 6ª EDIÇÃO 21 DE DEZEMBRO"
              data-desc="Show enérgico do Cabuloso Trio na Ocupação Manifesto Teia dos Povos."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/vKX18JHBm4E/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">6ª Edição</span>
                <span class="item-title">Cabuloso Trio (VI Edição)</span>
              </div>
            </button>

            <!-- Video 5 -->
            <button 
              class="video-item" 
              data-id="Sywh0BGRFCo" 
              data-badge="4ª Edição"
              data-title="MOVIMENTO IRUN 4ª EDIÇÃO 26 DE OUTUBRO"
              data-desc="Apresentação emocionante celebrando a clave e a espiritualidade do Ijexá na IV Edição."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/Sywh0BGRFCo/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">4ª Edição</span>
                <span class="item-title">Show Tito Bahiense (IV Edição)</span>
              </div>
            </button>

            <!-- Video 6 -->
            <button 
              class="video-item" 
              data-id="8xsNSgMrAvw" 
              data-badge="3ª Edição"
              data-title="MOVIMENTO IRUN 3ª EDIÇÃO 28 DE SETEMBRO"
              data-desc="Performance 'Encontros Híbridos' inspirada no resgate da infância e ancestralidade na III Edição."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/8xsNSgMrAvw/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">3ª Edição</span>
                <span class="item-title">Show Enio & Vírus (III Edição)</span>
              </div>
            </button>

            <!-- Video 7 -->
            <button 
              class="video-item" 
              data-id="3g1t911jlA0" 
              data-badge="2ª Edição"
              data-title="MOVIMENTO IRUN 2ª EDIÇÃO 17 DE AGOSTO"
              data-desc="Fuso de ritmos com o EletroSamba, mesclando samba de roda e guitarras elétricas na II Edição."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/3g1t911jlA0/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">2ª Edição</span>
                <span class="item-title">Show Ayrá Soares (II Edição)</span>
              </div>
            </button>

            <!-- Video 8 -->
            <button 
              class="video-item" 
              data-id="zBGcQ43zOh8" 
              data-badge="2ª Edição"
              data-title="MOVIMENTO IRUN EXPO IRUN AGOSTO"
              data-desc="Vernissage da Exposição Irun e diálogos sobre feminismo e resistência cotidiana com a Tamo Juntas."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/zBGcQ43zOh8/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">2ª Edição</span>
                <span class="item-title">Registro Especial (II Edição)</span>
              </div>
            </button>

            <!-- Video 9 -->
            <button 
              class="video-item" 
              data-id="s9w44W419Co" 
              data-badge="1ª Edição"
              data-title="MOVIMENTO IRUN INSTITUCIONAL - EDIÇÃO I"
              data-desc="Pocket show 'Cantos de Òrìṣà' marcando o lançamento oficial do Movimento Irun na Casa de Castro Alves."
            >
              <div class="video-item-thumb">
                <img src="https://img.youtube.com/vi/s9w44W419Co/mqdefault.jpg" alt="Thumbnail" />
                <span class="play-icon">▶</span>
              </div>
              <div class="video-item-meta">
                <span class="item-badge">1ª Edição</span>
                <span class="item-title">Pocket Show Irma Ferreira (I Edição)</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Client-side video gallery interactive switcher
    const videoItems = document.querySelectorAll('.video-item');
    const mainPlayer = document.getElementById('main-gallery-player');
    const playerBadge = document.getElementById('player-video-badge');
    const playerTitle = document.getElementById('player-video-title');
    const playerDesc = document.getElementById('player-video-desc');

    videoItems.forEach(item => {
      item.addEventListener('click', () => {
        // Remove active class from all items
        videoItems.forEach(el => el.classList.remove('active'));
        
        // Add active class to clicked item
        item.classList.add('active');

        // Get video details
        const videoId = item.getAttribute('data-id');
        const badge = item.getAttribute('data-badge');
        const title = item.getAttribute('data-title');
        const desc = item.getAttribute('data-desc');

        // Update main player
        if (mainPlayer && videoId) {
          mainPlayer.src = `https://www.youtube.com/embed/${videoId}?autoplay=1&enablejsapi=1&rel=0`;
        }

        // Update text metadata
        if (playerBadge) playerBadge.textContent = badge;
        if (playerTitle) playerTitle.textContent = title;
        if (playerDesc) playerDesc.textContent = desc;
      });
    });
  </script>

  <!-- Edições Anteriores Grid -->
  <section class="edicoes-grid-section">
    <div class="container">
      <div class="section-header text-center">
        <span class="section-badge">Registro Histórico</span>
        <h2>Edições Anteriores</h2>
        <p class="section-subtitle">Navegue pela história de cada encontro do Movimento Irun, com programações, fotos e vídeos exclusivos.</p>
      </div>

      <div class="edicoes-grid">
        {edicoes.map((ed) => (
          <a href={`/movimento-irun/${ed.slug}`} class="edicao-card card">
            <div class="edicao-img-wrapper">
              <img src={ed.img} alt={`Poster oficial da ${ed.num}ª edição do Movimento Irun`} />
            </div>
            <div class="edicao-content">
              <span class="edicao-date">{ed.data}</span>
              <h3>Edição {ed.num}: {ed.show}</h3>
              <p class="edicao-artist">Convidado(a): {ed.artista}</p>
              <p class="edicao-desc">{ed.desc}</p>
              <span class="edicao-link">Ver detalhes da edição →</span>
            </div>
          </a>
        ))}
      </div>
    </div>
  </section>

  <!-- Apoios e Logos Rodapé -->
  <section class="apoio-section">
    <div class="container text-center">
      <h3>Apoio e Fomento</h3>
      <p class="apoio-text">
        Este projeto foi contemplado nos Editais da Política Nacional Aldir Blanc Bahia e tem apoio financeiro do Governo do Estado da Bahia, por meio da Secretaria de Cultura do Estado via PNAB, direcionada pelo Ministério da Cultura - Governo Federal. A iniciativa é também contemplada pela Política Nacional Cultura Viva.
      </p>
      <div class="apoio-banner-wrapper">
        <img src="/MOVIMENTO-IRUN-RODAPE-2026-1024x154.jpg" alt="Logos de apoio do Movimento Irun - Secult-BA, PNAB, Governo da Bahia, Ministério da Cultura" class="apoio-banner-img" />
      </div>
    </div>
  </section>

  <!-- Premium Lightbox Overlay -->
  <div id="premium-lightbox" class="lightbox-overlay" aria-hidden="true" style="display: none;">
    <button class="lightbox-close" id="lightbox-close-btn" aria-label="Fechar galeria">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </button>
    
    <button class="lightbox-nav prev" id="lightbox-prev-btn" aria-label="Imagem anterior">
      <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
    </button>
    
    <div class="lightbox-content-wrapper">
      <div class="lightbox-frame">
        <div class="lightbox-image-container">
          <img id="lightbox-img" src="" alt="Obra de arte" />
        </div>
        <div class="lightbox-meta">
          <h4 id="lightbox-title" class="lightbox-title">Nome da Obra</h4>
          <div class="lightbox-author-row">
            <span id="lightbox-author" class="lightbox-author">Projeto — Artista</span>
            <a id="lightbox-instagram" href="" target="_blank" rel="noopener noreferrer" class="lightbox-ig-link">
              <svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
              <span id="lightbox-instagram-handle">@instagram</span>
            </a>
          </div>
          <p id="lightbox-desc" class="lightbox-desc">Detalhes da obra</p>
        </div>
      </div>
    </div>
    
    <button class="lightbox-nav next" id="lightbox-next-btn" aria-label="Próxima imagem">
      <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
    </button>
  </div>
</Layout>

<style>
  /* Outline yellow button for hero overlays */
  .btn-outline-amarelo {
    border-color: var(--color-amarelo-cca);
    color: var(--color-amarelo-cca);
    background-color: transparent;
  }
  .btn-outline-amarelo:hover {
    background-color: var(--color-amarelo-cca);
    color: var(--color-preto-editorial);
    border-color: var(--color-amarelo-cca);
  }

  /* Showroom Section Styles */
  .showroom-section {
    background-color: var(--color-branco);
    border-top: 1px solid rgba(26, 26, 26, 0.05);
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
    padding: var(--space-2xl) 0;
  }

  .showroom-layout {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-creme);
    border: 1px solid rgba(26, 26, 26, 0.08);
    border-radius: 6px;
    overflow: hidden;
    margin-top: var(--space-xl);
  }

  @media (min-width: 992px) {
    .showroom-layout {
      grid-template-columns: 1.8fr 1.2fr;
      height: 620px;
    }
  }

  .showroom-stage {
    display: flex;
    flex-direction: column;
    background-color: var(--color-creme);
    padding: var(--space-lg);
    gap: var(--space-lg);
  }

  @media (min-width: 768px) {
    .showroom-stage {
      flex-direction: row;
      align-items: stretch;
    }
  }

  .stage-gallery {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    min-width: 0;
  }

  .stage-image-container {
    flex-grow: 1;
    height: 320px;
    background-color: var(--color-cinza-claro);
    border: 1px solid rgba(26, 26, 26, 0.06);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: 992px) {
    .stage-image-container {
      height: 380px;
    }
  }

  .stage-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease-in-out;
  }

  .stage-thumbs {
    display: flex;
    gap: var(--space-sm);
    overflow-x: auto;
    padding-bottom: var(--space-xs);
  }

  :global(.stage-thumb-btn) {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    background: none;
    flex-shrink: 0;
    transition: var(--transition-fast);
  }

  :global(.stage-thumb-btn img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  :global(.stage-thumb-btn:hover) {
    opacity: 0.9;
  }

  :global(.stage-thumb-btn.active) {
    border-color: var(--color-ouro);
    box-shadow: 0 0 8px rgba(201, 168, 0, 0.2);
  }

  .stage-details {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-md);
    min-width: 0;
  }

  .details-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .designer-badge {
    align-self: flex-start;
    background-color: var(--color-ouro);
    color: var(--color-branco);
    font-family: var(--font-interface);
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 4px 10px;
    border-radius: 2px;
  }

  .designer-name {
    font-family: var(--font-display);
    font-size: 2.25rem;
    color: var(--color-preto-editorial);
    margin: 0;
    line-height: 1.2;
    border: none;
    padding: 0;
  }

  .designer-ig-link {
    font-family: var(--font-interface);
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-carvao);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: var(--transition-fast);
    align-self: flex-start;
  }

  .designer-ig-link:hover {
    color: var(--color-ouro);
  }

  .designer-ig-link svg {
    opacity: 0.7;
  }

  .designer-ig-link:hover svg {
    opacity: 1;
  }

  .designer-quote {
    font-family: var(--font-body);
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-carvao);
    font-style: italic;
    border-left: 3px solid rgba(201, 168, 0, 0.4);
    padding-left: var(--space-md);
    margin: 0;
  }

  /* Selector Column */
  .showroom-selector {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(26, 26, 26, 0.08);
    overflow: hidden;
  }

  @media (min-width: 992px) {
    .showroom-selector {
      border-top: none;
      border-left: 1px solid rgba(26, 26, 26, 0.08);
    }
  }

  .selector-header {
    padding: var(--space-md) var(--space-lg);
    background-color: var(--color-branco);
    border-bottom: 1px solid rgba(26, 26, 26, 0.08);
  }

  .selector-header h4 {
    margin: 0;
    font-family: var(--font-interface);
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--color-preto-editorial);
  }

  .selector-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  @media (min-width: 992px) {
    .selector-list {
      flex-direction: column;
      overflow-y: auto;
    }
  }

  .selector-item {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md) var(--space-lg);
    background: transparent;
    border: none;
    border-right: 1px solid rgba(26, 26, 26, 0.05);
    cursor: pointer;
    text-align: left;
    transition: var(--transition-fast);
    min-width: 260px;
  }

  @media (min-width: 992px) {
    .selector-item {
      border-right: none;
      border-bottom: 1px solid rgba(26, 26, 26, 0.05);
      width: 100%;
      min-width: 0;
    }
  }

  .selector-item:hover {
    background-color: rgba(26, 26, 26, 0.02);
  }

  .selector-item.active {
    background-color: var(--color-branco);
  }

  @media (min-width: 992px) {
    .selector-item.active {
      border-left: 4px solid var(--color-ouro);
    }
  }

  .selector-item-thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-cinza-claro);
    border: 1px solid rgba(26, 26, 26, 0.08);
    flex-shrink: 0;
  }

  .selector-item-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .selector-item-meta {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
  }

  .selector-item-name {
    font-family: var(--font-interface);
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-preto-editorial);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selector-item-tag {
    font-size: 0.75rem;
    color: var(--color-carvao);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* General Photo Gallery Section */
  .general-gallery-section {
    background-color: var(--color-creme);
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
    padding: var(--space-2xl) 0;
  }

  .carousel-container {
    position: relative;
    max-width: 1100px;
    margin: var(--space-xl) auto 0 auto;
    display: flex;
    align-items: center;
  }

  .carousel-track-wrapper {
    overflow: hidden;
    width: 100%;
    padding: var(--space-sm) 0;
  }

  .carousel-track {
    display: flex;
    gap: 24px; /* 1.5rem gap */
    transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
  }

  .carousel-slide {
    flex: 0 0 280px;
    height: 380px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(26, 26, 26, 0.08);
    box-shadow: 0 8px 24px rgba(26, 26, 26, 0.04);
    background-color: var(--color-branco);
  }

  @media (min-width: 576px) {
    .carousel-slide {
      flex: 0 0 320px;
      height: 420px;
    }
  }

  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition-smooth);
  }

  .carousel-slide:hover img {
    transform: scale(1.02);
  }

  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-branco);
    border: 1px solid rgba(26, 26, 26, 0.1);
    box-shadow: 0 4px 12px rgba(26, 26, 26, 0.08);
    color: var(--color-preto-editorial);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: var(--transition-fast);
  }

  .carousel-nav:hover {
    background-color: var(--color-preto-editorial);
    color: var(--color-branco);
    border-color: var(--color-preto-editorial);
  }

  .carousel-nav.prev {
    left: -22px;
  }

  .carousel-nav.next {
    right: -22px;
  }

  @media (max-width: 1140px) {
    .carousel-nav.prev {
      left: 10px;
    }
    .carousel-nav.next {
      right: 10px;
    }
  }

  .carousel-indicators-container {
    text-align: center;
    margin-top: var(--space-md);
  }

  .carousel-pagination {
    font-family: var(--font-interface);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--color-carvao);
    letter-spacing: 0.05em;
  }

  /* Conceito Section */
  .conceito-section {
    background-color: var(--color-creme);
  }

  .header-credit {
    position: absolute;
    bottom: var(--space-md);
    right: var(--space-lg);
    font-family: var(--font-interface);
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.65);
    z-index: 10;
  }

  @media (max-width: 768px) {
    .header-credit {
      right: var(--space-md);
      font-size: 0.65rem;
    }
  }

  .text-center-editorial {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .editorial-text-block {
    text-align: left;
    margin-top: var(--space-md);
  }

  .text-column h2 {
    font-size: 2.25rem;
    border: none;
    margin-top: var(--space-sm);
    margin-bottom: var(--space-md);
    padding: 0;
  }

  .lead-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-preto-editorial);
    margin-bottom: var(--space-md);
  }

  .shadow-premium {
    box-shadow: 0 15px 35px rgba(26, 26, 26, 0.06);
  }

  /* Inscrição Grid Section */
  .inscricao-section {
    background-color: var(--color-branco);
    border-top: 1px solid rgba(26, 26, 26, 0.05);
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
  }

  .inscricao-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);
    align-items: center;
    margin-top: var(--space-xl);
  }

  @media (min-width: 992px) {
    .inscricao-grid {
      grid-template-columns: 0.9fr 1.1fr;
    }
  }

  .inscricao-poster-wrapper {
    background-color: var(--color-branco);
    padding: var(--space-sm);
    border: 1px solid rgba(26, 26, 26, 0.08);
    border-radius: 4px;
    overflow: hidden;
  }

  .inscricao-poster-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .inscricao-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inscricao-content h2 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: var(--space-md);
    border: none;
    padding: 0;
  }

  .inscricao-content .lead-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-preto-editorial);
    margin-bottom: var(--space-md);
  }

  .link-inscreva-se {
    display: inline-block;
    font-family: var(--font-interface);
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-ouro);
    text-decoration: none;
    border-bottom: 2px solid var(--color-ouro);
    padding-bottom: 4px;
    transition: var(--transition-fast);
  }

  .link-inscreva-se:hover {
    color: var(--color-preto-editorial);
    border-bottom-color: var(--color-preto-editorial);
  }

  /* Edições Grid */
  .edicoes-grid-section {
    background-color: var(--color-creme);
  }

  .edicoes-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);
    margin-top: var(--space-xl);
  }

  @media (min-width: 768px) {
    .edicoes-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .edicoes-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .edicao-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
  }

  .edicao-img-wrapper {
    height: 280px;
    overflow: hidden;
    background-color: var(--color-cinza-claro);
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
  }

  .edicao-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-smooth);
  }

  .edicao-card:hover .edicao-img-wrapper img {
    transform: scale(1.03);
  }

  .edicao-content {
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .edicao-date {
    font-family: var(--font-interface);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-ouro);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--space-xs);
    display: block;
  }

  .edicao-content h3 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: var(--space-xs);
    border: none;
    padding: 0;
    line-height: 1.3;
  }

  .edicao-artist {
    font-family: var(--font-interface);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--color-preto-editorial);
    margin-bottom: var(--space-sm);
  }

  .edicao-desc {
    font-size: 0.9rem;
    color: var(--color-carvao);
    line-height: 1.5;
    flex-grow: 1;
    margin-bottom: var(--space-md);
  }

  .edicao-link {
    font-family: var(--font-interface);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--color-preto-editorial);
    align-self: flex-start;
    transition: var(--transition-fast);
  }

  .edicao-link:hover {
    color: var(--color-ouro);
    padding-left: 4px;
  }

  /* Apoio Section */
  .apoio-section {
    background-color: var(--color-branco);
    border-top: 1px solid rgba(26, 26, 26, 0.05);
  }

  .apoio-text {
    font-size: 0.95rem;
    color: var(--color-carvao);
    max-width: 800px;
    margin: 0 auto var(--space-xl) auto;
    line-height: 1.6;
  }

  .apoio-banner-wrapper {
    max-width: 850px;
    margin: 0 auto;
    background-color: var(--color-cinza-claro);
    padding: var(--space-sm);
    border: 1px solid rgba(26, 26, 26, 0.05);
  }

  .apoio-banner-img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Videos Gallery Section */
  .videos-gallery-section {
    background-color: var(--color-branco);
    padding: var(--space-xl) 0;
  }

  .gallery-layout {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-preto-editorial);
    border-radius: 8px;
    overflow: hidden;
    margin-top: var(--space-xl);
  }

  @media (min-width: 992px) {
    .gallery-layout {
      grid-template-columns: 1.8fr 1.2fr;
      height: 580px;
    }
  }

  .main-player-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
  }

  .video-ratio-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #000;
  }

  .video-ratio-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .player-info {
    padding: var(--space-md);
    background-color: var(--color-preto-editorial);
    color: var(--color-branco);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    flex-grow: 1;
  }

  .player-badge {
    display: inline-block;
    align-self: flex-start;
    background-color: var(--color-amarelo-cca);
    color: var(--color-preto-editorial);
    font-size: 0.7rem;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .player-info h3 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--color-branco);
    font-family: var(--font-display);
    line-height: 1.3;
  }

  .player-info p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-cinza-claro);
    line-height: 1.5;
  }

  .playlist-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-left: 1px solid #333;
    overflow: hidden;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
  }

  .sidebar-header h4 {
    margin: 0;
    font-size: 1rem;
    color: var(--color-branco);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .playlist-link-external {
    font-size: 0.8rem;
    color: var(--color-amarelo-cca);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
  }

  .playlist-link-external:hover {
    color: var(--color-branco);
  }

  .video-items-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
  }

  .video-item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    cursor: pointer;
    text-align: left;
    transition: var(--transition-fast);
    width: 100%;
  }

  .video-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .video-item.active {
    background-color: rgba(255, 221, 0, 0.08);
    border-left: 4px solid var(--color-amarelo-cca);
  }

  .video-item-thumb {
    position: relative;
    width: 100px;
    height: 56.25px;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    background-color: #000;
  }

  .video-item-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .video-item:hover .video-item-thumb img,
  .video-item.active .video-item-thumb img {
    opacity: 1;
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-branco);
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.6);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .video-item-meta {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
  }

  .item-badge {
    font-size: 0.65rem;
    font-weight: bold;
    color: var(--color-amarelo-cca);
    text-transform: uppercase;
  }

  .item-title {
    font-size: 0.85rem;
    color: var(--color-branco);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video-item.active .item-title {
    color: var(--color-amarelo-cca);
  }

  /* Premium Lightbox Styles */
  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.98);
    backdrop-filter: blur(15px);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInL 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  @keyframes fadeInL {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .lightbox-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    color: var(--color-branco);
    opacity: 0.7;
    cursor: pointer;
    z-index: 2010;
    transition: var(--transition-fast);
  }

  .lightbox-close:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .lightbox-nav {
    background: none;
    border: none;
    color: var(--color-branco);
    opacity: 0.5;
    cursor: pointer;
    z-index: 2010;
    transition: var(--transition-fast);
    padding: var(--space-md);
  }

  .lightbox-nav:hover {
    opacity: 1;
    transform: scale(1.15);
  }

  @media (max-width: 768px) {
    .lightbox-nav {
      display: none; /* Hide arrows on touch screens, swipe gesture instead */
    }
  }

  .lightbox-content-wrapper {
    max-width: 90%;
    max-height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleUpL 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  @keyframes scaleUpL {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }

  .lightbox-frame {
    background-color: #111111;
    border: 1px solid #222222;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 100%;
  }

  .lightbox-image-container {
    width: 100%;
    height: 380px;
    background-color: #000000;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: var(--space-md);
    position: relative;
  }

  @media (max-width: 576px) {
    .lightbox-image-container {
      height: 260px;
    }
  }

  .lightbox-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    cursor: zoom-in;
    transition: transform 0.25s ease-out;
    transform-origin: center center;
  }

  .lightbox-image-container.zoomed img {
    transform: scale(3.0);
    cursor: zoom-out;
  }

  .lightbox-meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    text-align: left;
  }

  .lightbox-title {
    font-family: var(--font-display);
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;
    line-height: 1.3;
    border: none;
    padding: 0;
  }

  .lightbox-author-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);
    margin-top: 4px;
    margin-bottom: 8px;
    flex-wrap: wrap;
  }

  .lightbox-author {
    font-family: var(--font-interface);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-ouro);
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .lightbox-ig-link {
    font-family: var(--font-interface);
    font-size: 0.8rem;
    color: #aaaaaa;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: var(--transition-fast);
  }

  .lightbox-ig-link:hover {
    color: #ffffff;
  }

  .lightbox-ig-link svg {
    color: var(--color-ouro);
  }

  .lightbox-desc {
    font-family: var(--font-body);
    font-size: 0.9rem;
    color: #cccccc;
    line-height: 1.5;
    margin: 0;
  }

  .clickable-lightbox {
    cursor: zoom-in;
    transition: filter 0.3s ease;
  }

  .clickable-lightbox:hover {
    filter: brightness(0.95);
  }

  /* Showroom Cover Rules */
  .showroom-stage.cover-active .stage-thumbs {
    display: none !important;
  }
  .showroom-stage.cover-active .designer-ig-link {
    display: none !important;
  }
  .showroom-stage.cover-active .designer-badge {
    background-color: var(--color-ouro);
  }

  /* Conceito Section Editorial Quote */
  .editorial-quote {
    font-family: var(--font-display);
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--color-preto-editorial);
    font-style: italic;
    margin: 0 auto;
    max-width: 850px;
    position: relative;
    padding: var(--space-md) var(--space-lg);
    border-left: none;
  }
  .editorial-quote::before, .editorial-quote::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: var(--color-ouro);
    margin: var(--space-md) auto;
  }

  /* Eixos structure */
  .eixos-section {
    background-color: var(--color-creme);
    padding: var(--space-2xl) 0;
  }

  .eixos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);
    margin-top: var(--space-xl);
  }

  .eixos-footer {
    margin-top: var(--space-xl);
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .eixos-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .eixo-card {
    position: relative;
    padding: var(--space-lg);
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-branco);
    border: 1px solid rgba(26, 26, 26, 0.08);
    border-radius: 4px;
  }

  .eixo-number {
    position: absolute;
    top: var(--space-md);
    right: var(--space-lg);
    font-size: 2.5rem;
    font-family: var(--font-display);
    color: rgba(135, 103, 0, 0.25);
    font-weight: bold;
    line-height: 1;
  }

  .eixo-header {
    height: 64px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .eixo-card h3 {
    font-size: 1.35rem;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 1.3;
    font-family: var(--font-display);
    color: var(--color-preto-editorial);
  }

  .eixo-instructor {
    display: block;
    font-family: var(--font-interface);
    font-size: 0.8rem;
    color: var(--color-ouro);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .eixo-subtitle-detail {
    font-size: 0.85rem;
    color: var(--color-carvao);
    margin-bottom: 16px;
    font-style: italic;
  }

  .eixo-topics {
    list-style-type: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-sm) 0 0 0;
  }

  .eixo-topics li {
    font-size: 0.95rem;
    position: relative;
    padding-left: var(--space-md);
    line-height: 1.4;
    color: var(--color-carvao);
  }

  .eixo-topics li::before {
    content: "•";
    color: var(--color-ouro);
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Exposições Section */
  .exposicoes-section {
    background-color: var(--color-branco);
    padding: var(--space-2xl) 0;
    border-top: 1px solid rgba(26, 26, 26, 0.05);
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
  }
  .exposicoes-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);
    margin-top: var(--space-xl);
  }
  @media (min-width: 576px) {
    .exposicoes-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 992px) {
    .exposicoes-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  .expo-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: var(--color-creme);
    border: 1px solid rgba(26, 26, 26, 0.06);
  }
  .expo-img-wrapper {
    height: 200px;
    overflow: hidden;
    background-color: var(--color-cinza-claro);
  }
  .expo-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-smooth);
  }
  .expo-card:hover .expo-img-wrapper img {
    transform: scale(1.05);
  }
  .expo-content {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .expo-badge-detail {
    font-family: var(--font-interface);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--color-ouro);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--space-xs);
    display: block;
  }
  .expo-content h3 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: var(--space-xs);
    border: none;
    padding: 0;
    line-height: 1.3;
  }
  .expo-desc {
    font-size: 0.85rem;
    color: var(--color-carvao);
    line-height: 1.5;
    flex-grow: 1;
    margin-bottom: var(--space-md);
  }
  .expo-link {
    font-family: var(--font-interface);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-preto-editorial);
    align-self: flex-start;
    transition: var(--transition-fast);
  }
  .expo-card:hover .expo-link {
    color: var(--color-ouro);
    padding-left: 4px;
  }

  /* Responsive Adjustments & Touch Arrow Hiding */
  @media (max-width: 991px) {
    .selector-item-thumb {
      width: 68px !important;
      height: 68px !important;
    }
    .selector-item {
      min-width: 220px !important;
      padding: var(--space-sm) var(--space-md) !important;
    }
  }

  @media (max-width: 768px), (hover: none) and (pointer: coarse) {
    .carousel-nav {
      display: none !important;
    }
    .lightbox-nav {
      display: none !important;
    }
  }
</style>

